<ion-view style="background-color: rgb(97, 5, 5);" id="page16" title="Blog">
    <ion-content class="has-header" overflow-scroll="true" padding="true">
        <div style="" class="button-bar">
            <a class="button button-dark  button-block icon ion-images" id="blog3-button26" ui-sref="tabsController.blog"></a>
            <a class="button button-dark  button-block icon ion-camera" id="blog3-button27" ui-sref="tabsController.blog2"></a>
            <button class="button button-dark  button-block icon ion-information" id="blog3-button28"></button>
        </div>
        <h1 style="color: rgb(255, 255, 255); text-align: center;" id="blog3-heading1">About this blog</h1>
        <div style="color: rgb(0, 0, 0);" id="blog3-markdown3">
            <p>This blog is a blog about my life. My life is a normal life with a twist!</p>
        </div>
        <div style="text-align: center;">
            <img src="img/m08U5IqYRTek3bTDVdmr_Skærmbillede 2016-04-07 kl. 17.38.21.png" width="100%" height="auto">
        </div>
    </ion-content>
</ion-view>