<ion-view style="background-color: rgb(255, 216, 222);" id="page3" title="Chat">
    <ion-content class="has-header" overflow-scroll="true" padding="true">
        <a class="button button-positive  button-block icon-left ion-android-add" id="chat-button5" ui-sref="tabsController.newChat">New Chat</a>
        <div style=""></div>
        <ion-list style="">
            <ion-item style="" class="item-thumbnail-left">
                <img>
                <h2>Title</h2>
                <p>Item</p>
            </ion-item>
            <ion-item style="" class="item-thumbnail-left">
                <img>
                <h2>Title</h2>
                <p>Item</p>
            </ion-item>
            <ion-item style="" class="item-thumbnail-left">
                <img>
                <h2>Title</h2>
                <p>Item</p>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>