<ion-view style="background-color: rgb(252, 230, 203);" id="page8" title="Friends">
    <ion-content class="has-header" overflow-scroll="true" padding="true">
        <form style="" class="list">
            <div style="" class="button-bar">
                <a class="button button-dark  button-block" id="friends-button7" ui-sref="tabsController.friends2">Find friends</a>
                <a class="button button-dark  button-block" style="font-size:-5px;border-radius:3px 3px 3px 3px;" id="friends-button8" ui-sref="tabsController.friends2">My friends</a>
            </div>
            <label style="" class="item item-input">
                <i class="icon ion-search placeholder-icon"></i>
                <input placeholder="Search  and find new friends" type="search">
            </label>
        </form>
    </ion-content>
</ion-view>