<ion-view style="background-color: rgb(252, 230, 203);" id="page10" title="Friends">
    <ion-content class="has-header" overflow-scroll="true" padding="true">
        <div style="" class="button-bar">
            <a class="button button-dark  button-block" id="friends2-button11" ui-sref="tabsController.friends">Find friends</a>
            <button class="button button-dark  button-block" style="font-size:-5px;border-radius:3px 3px 3px 3px;" id="friends2-button12">My friends</button>
        </div>
        <form style="" class="list">
            <label style="" class="item item-input">
                <i class="icon ion-search placeholder-icon"></i>
                <input placeholder="Search from your current friends" type="search">
            </label>
        </form>
        <div style="text-align: center;">
            <img src="img/8K7LfGLIQIO5kuNgkDuJ_Skærmbillede 2016-04-05 kl. 18.39.08.png" width="100%" height="auto">
        </div>
        <div style="width: 300px; height: 9px;" class="spacer"></div>
        <form style="" class="list">
            <a class="button button-dark  button-block" id="friends2-button13" ui-sref="tabsController.profile">Filippa</a>
            <div style="width: 300px; height: 40px;" class="spacer"></div>
            <div style="text-align: center;">
                <img src="img/7S7hgvUURhmEU8j9z4uO_person-786172_1280.jpg" width="100%" height="auto">
            </div>
            <div style="width: 300px; height: 9px;" class="spacer"></div>
            <a class="button button-dark  button-block" id="friends2-button14" ui-sref="tabsController.shesProfile">Amalie</a>
            <div style="width: 300px; height: 44px;" class="spacer"></div>
            <div style="text-align: center;">
                <img src="img/TsbhZ5NqQGGXEACvR3Nz_child-820717_1280.jpg" width="100%" height="auto">
            </div>
            <div style="width: 300px; height: 8px;" class="spacer"></div>
            <a class="button button-dark  button-block" id="friends2-button15" ui-sref="tabsController.hesProfile">Joakim</a>
            <div style="width: 300px; height: 47px;" class="spacer"></div>
        </form>
    </ion-content>
</ion-view>