<ion-view style="background-color: rgb(179, 255, 235);" id="page11" title="Hes profile">
    <ion-content class="has-header" overflow-scroll="true" padding="true">
        <button class="button button-dark button-large button-block" id="hesProfile-button17">Joakim</button>
        <form style="" class="list"></form>
        <button class="button button-stable  button-block icon-right ion-person-add" id="hesProfile-button16">Add friend</button>
        <div style="width: 300px; height: 25px;" class="spacer"></div>
        <div style="text-align: center;">
            <img src="img/yvXAOlxjQaKZnE4zw92x_child-820717_1280.jpg" width="100%" height="auto">
        </div>
        <form style="" class="list">
            <div style="width: 300px; height: 22px;" class="spacer"></div>
            <label style="" class="item item-input">
                <span class="input-label">Hello! I love play football</span><textarea placeholder=""> </textarea>
            </label>
            <div style="width: 300px; height: 24px;" class="spacer"></div>
            <label style="" class="item item-input">
                <span class="input-label">8 years old</span><textarea placeholder=" Age  ">  </textarea>
            </label>
            <div style="width: 300px; height: 22px;" class="spacer"></div>
            <label style="" class="item item-input">
                <span class="input-label">Male</span>
                <input placeholder="" type="text">
            </label>
            <div style="width: 300px; height: 22px;" class="spacer"></div>
        </form>
    </ion-content>
</ion-view>