<ion-view style="background-color: rgb(209, 232, 238);" id="page2" title="Home">
    <ion-content class="has-header" overflow-scroll="true" padding="true">
        <div style="width: 300px; height: 47px;" class="spacer"></div>
        <div style="margin-right:-20px;">
            <button class="button button-dark button-large button-full" style="left:-10px;font-weight:lighter;font-size:57px;" id="home-button9">The latest new</button>
        </div>
        <div style="width: 300px; height: 52px;" class="spacer"></div>
        <ion-list style="">
            <ion-item ng-click="viewchat(chat)" style="" class="item-thumbnail-left" ng-repeat="chat in chats">
                <img>
                <h2>{{chat.name}}</h2>
                <p>Message</p>
                
            </ion-item>
            
        </ion-list>
        <div style="width: 300px; height: 63px;" class="spacer"></div>
        <div style="text-align: center;">
            <img src="img/ObcBaGkRq6acTHU48EAk_Skærmbillede 2016-04-07 kl. 16.31.51.png" width="100%" height="auto">
        </div>
        <form style="" class="list">
            <label style="" class="item item-input">
                <span class="input-label">Photo</span>
                <input placeholder="Filippa" type="text">
            </label>
        </form>
        <ion-list style="">
            <ion-item style="" class="item-thumbnail-left">
                <img>
                <h2>Chat 2</h2>
                <p>Message</p>
            </ion-item>
        </ion-list>
        <div style="width: 300px; height: 63px;" class="spacer"></div>
        <ion-list style="">
            <ion-item style="" class="item-thumbnail-left">
                <img>
                <h2>Chat 3</h2>
                <p>Message</p>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>