<ion-view style="background-color: rgb(252, 248, 176);" id="page7" title="New Chat">
    <ion-content class="has-header" overflow-scroll="true" padding="true">
        <form style="" class="list">
            <label style="" class="item item-input">
                <span class="input-label">Chat Name</span><textarea placeholder=""> </textarea>
            </label>
        </form>
        <form style="" class="list">
            <label style="" class="item item-select">
                <span class="input-label">Add Chat Members</span>
                <select>
                    <option>Friend 1</option>
                    <option>friend 2</option>
                    <option>friend 3</option>
                </select>
            </label>
        </form>
        <form style="" class="list">
            <label style="" class="item item-input">
                <span class="input-label">First Message</span><textarea placeholder=""> </textarea>
            </label>
        </form>
    </ion-content>
</ion-view>