<ion-view style="background-color: rgb(97, 5, 5);" id="page15" title="Page">
    <ion-content class="has-header" overflow-scroll="true" padding="true">
        <div style="" class="button-bar">
            <a class="button button-dark  button-block icon ion-images" id="page2-button18" ui-sref="tabsController.blog"></a>
            <button class="button button-dark  button-block icon ion-camera" id="page2-button21"></button>
            <button class="button button-dark  button-block icon ion-information" id="page2-button22"></button>
        </div>
        <form style="" class="list">
            <a class="button button-stable  button-block" id="page2-button29" ui-sref="tabsController.blog">Publish</a>
        </form>
        <form style="" class="list">
            <label style="" class="item item-input">
                <span class="input-label"></span><textarea placeholder="Comment"> </textarea>
            </label>
        </form>
        <div style="text-align: center;">
            <img src="img/r4YCKpaNQ8uD38SHbmV4_Skærmbillede 2016-04-07 kl. 16.31.51.png" width="100%" height="auto">
        </div>
        <a class="button button-light  button-block" id="page2-button25" ui-sref="tabsController.blog2">Take agian</a>
    </ion-content>
</ion-view>