<ion-view style="background-color: rgb(195, 202, 250);" id="page12" title="Shes profile">
    <ion-content class="has-header" overflow-scroll="true" padding="true">
        <button class="button button-dark button-large button-block" id="shesProfile-button19">Amalie</button>
        <button class="button button-stable  button-block icon-right ion-person-add" id="shesProfile-button20">Add friend</button>
        <div style="width: 300px; height: 30px;" class="spacer"></div>
        <div style="text-align: center;">
            <img src="img/jw49g02rRva3MCRSWqln_person-786172_1280.jpg" width="100%" height="auto">
        </div>
        <form style="" class="list">
            <div style="width: 300px; height: 21px;" class="spacer"></div>
            <label style="" class="item item-input">
                <span class="input-label">Hej, I love dance!</span><textarea placeholder=""> </textarea>
            </label>
            <div style="width: 300px; height: 28px;" class="spacer"></div>
            <label style="" class="item item-input">
                <span class="input-label">Lady</span>
                <input placeholder="" type="text">
            </label>
            <div style="width: 300px; height: 30px;" class="spacer"></div>
            <label style="" class="item item-input">
                <span class="input-label">10 years old</span><textarea placeholder=" Age  ">  </textarea>
            </label>
        </form>
        <div style="width: 300px; height: 23px;" class="spacer"></div>
    </ion-content>
</ion-view>