<ion-view style="background-color: rgb(196, 250, 190);" id="page6" title="Sign up">
    <ion-content class="has-header" overflow-scroll="true" padding="true">
        <form style="" class="list">
            <ion-list style="">
                <label style="" class="item item-input">
                    <span class="input-label">Name</span>
                    <input placeholder="" type="text">
                </label>
                <label style="" class="item item-input">
                    <span class="input-label">Username</span>
                    <input placeholder="" type="text">
                </label>
                <label style="" class="item item-input">
                    <span class="input-label">Password</span>
                    <input placeholder="" type="text">
                </label>
            </ion-list>
            <a class="button button-dark  button-block" id="signUp-button3" ui-sref="login">Sign up</a>
        </form>
    </ion-content>
</ion-view>