<ion-view style="background-color: rgb(0, 178, 255);" id="page1" title="Tabs Controller">
    <ion-tabs style="" class="tabs-stable tabs-icon-top">
        <ion-tab style="" title="Home" icon="ion-android-home" href="#/page1/home">
            <ion-nav-view name="tab1"></ion-nav-view>
        </ion-tab>
        <ion-tab style="" title="Friends" icon="ion-person-add" href="#/page1/friends">
            <ion-nav-view name="tab4"></ion-nav-view>
        </ion-tab>
        <ion-tab style="" title="New chat" icon="ion-chatbox-working" href="#/page1/newchat">
            <ion-nav-view name="tab2"></ion-nav-view>
        </ion-tab>
        <ion-tab style="" title="Profile" icon="ion-android-settings" href="#/page1/tab3/profile">
            <ion-nav-view name="tab3"></ion-nav-view>
        </ion-tab>
    </ion-tabs>
</ion-view>